<form action='.' method='POST'> 
    {% csrf_token %}
    
    <label for='start_date'>Start Date: </label>
    <input id="start_date" type="date" name="start_date" required>
    
    <label for='end_date'>End Date: </label>
    <input id="end_date" type="date" name="end_date" required>

    <label for='hospital_name'>Hospital: </label>
    <select id='hospital_name' name='hospital_filter'>
        <option value=''></option>
        {% for instance in object_list %}
        <option value='{{instance.hospital_name}}'>{{instance.hospital_name}}</option>
        {% endfor %}
    </select>
    
    <input type='submit' value='Filter'>
</form>